name: CI
on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  workflow_dispatch:
jobs:
  ci:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            name: Windows
          - os: ubuntu-latest
            name: Linux
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: Azure login
        uses: azure/login@v2.3.0
        with:
          creds: ${{ secrets.AZURE_ACI_CREDENTIALS }}
      - name: Run
        uses: ./
        with:
          connection-string-name: RabbitConnectionString
          host-env-var-name: RabbitHost
          tag: setup-rabbitmq-action
          registry-username: ${{ secrets.DOCKERHUB_USERNAME }}
          registry-password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Validate host
        shell: pwsh
        run: |
          echo "RabbitConnectionString = $($Env:RabbitConnectionString)"
          if ( $Env:RabbitConnectionString -le 0 ) {
            throw "Environment variable 'RabbitConnectionString' not set."
          }
          echo "RabbitHost = $($Env:RabbitHost)"
          if ( $Env:RabbitHost -le 0 ) {
            throw "Environment variable 'RabbitHost' not set."
          }
      - name: Run
        uses: ./
        with:
          connection-string-name: RabbitConnectionString2
          tag: setup-rabbitmq-action
          registry-username: ${{ secrets.DOCKERHUB_USERNAME }}
          registry-password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Validate without host var
        shell: pwsh
        run: |
          echo "RabbitConnectionString2 = $($Env:RabbitConnectionString2)"
          if ( $Env:RabbitConnectionString2 -le 0 ) {
            throw "Environment variable 'RabbitConnectionString2' not set."
          }
      - name: Run
        uses: ./
        with:
          connection-string-name: RabbitConnectionString3
          tag: setup-rabbitmq-action
          image-tag: 3.11-management
          registry-username: ${{ secrets.DOCKERHUB_USERNAME }}
          registry-password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Validate with custom image tag
        shell: pwsh
        run: |
          echo "RabbitConnectionString3 = $($Env:RabbitConnectionString3)"
          if ( $Env:RabbitConnectionString3 -le 0 ) {
            throw "Environment variable 'RabbitConnectionString3' not set."
          }